<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>@ViewData["Title"] - Tabeyo</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <environment names="Development">
    <link rel="stylesheet" href="lib/skeleton/css/normalize.css">
    <link rel="stylesheet" href="lib/skeleton/css/skeleton.css">
  </environment>
   
  <environment names="Staging,Production">
    <link rel="stylesheet" href="lib/skeleton/css/normalize.css">
    <link rel="stylesheet" href="lib/skeleton/css/skeleton.css">
  </environment>
   
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="lib/skeleton/images/favicon.png">

</head>
<body>

  <div class="container">
    @RenderBody()
  </div>
  
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>