@{
    ViewData["Title"] = "Tabeyo";
}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row">
    <div class="one-half column" style="margin-top: 25%">
        <div class="panel">
            <h2>Tabeyo</h2>
            <p>We're going to be bringing Japanese ingredients and snacks to an internet near you!</p>
        </div>
    </div>
    <div class="one-half column" style="margin-top: 10%">
        <img src="img/mogunyan-s.png"/>
    </div>
</div>
