@{
    ViewData["Title"] = "Tabeyo";
}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row">
    <div class="one-half column" style="margin-top: 25%">
    <h2>Tabeyo</h2>
    <h4>We're going to be bringing Japanese ingredients and snacks to an internet near you!</h4>
    </div>
    <div class="one-half column" style="margin-top: 10%">
        <img src="img/mogunyan-s.png"/>
    </div>
</div>
