@{
    ViewData["Title"] = "Tabeyo";
}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row main-row">
    <div class="one-half column">
        <div class="panel splash">
            <h2>Tabeyo</h2>
            <p id="intro-text">We're going to be bringing Japanese ingredients and snacks to an internet near you!</p>
            <form class="splash-form">
                <input type="email" name="email" placeholder="e-mail address" required="true" />
                <button type="submit">Tell me when you open!</button>
                <p class="submit-response"></p>
            </form>
        </div>
    </div>
    <div class="one-half column">
        <img class="mogu-splash" src="img/mogunyan-s.png"/>
    </div>
</div>

<script type="text/javascript" src="/js/splash.js"></script>