body {
    /*background-color: #ff6600;*/ 
    background-color: #ff8432;
    color: #351500;
}

.panel {
    background-color: #ffeecc;
    padding: 10px 10px 1px 10px;
    border-radius: 2px;
    box-shadow: 2px 2px #884216, 4px 4px #cc6220;
}

.panel > * {
    margin: 10px;
}

@media (min-width: 375px) and (max-width: 549px) {
    .panel > * {
        margin: 40px;
    }
}

@media (min-width: 960px) {   
    .panel > * {
        margin: 40px;
    }
}

p {
    font-size: 2rem;
    line-height: 3rem;
}

/* ----- SPLASH SCREEN ----- */
.mogu-splash {
    margin-top: 25%;
    width: 100%;
}

.splash {
    margin-top: 25%;
}

.splash-form > * {
    width: 100%;
    padding: 0px;
    
    transition: background-color 200ms linear;
}

.splash-form input:disabled {
    background-color: #ccc;
}

.splash-form button {
    background-color: #8ea604;
    color: #FFFFFF;
}
.splash-form button:disabled {
    background-color: #777;
    color: #FFFFFF;
}

.submit-response {
    display: none;
}

.response-visible .submit-response {
    display: initial;
}
/* ------------------------- */