$primaryColour: #FF9A3D;
$borderColour: darken($primaryColour, 10%);

$darkColour: #351500;
$lightColour: #ffeecc;

@mixin shadowSmall($colour) {
    box-shadow: 0px 0px 4px 1px darken($colour, 20%);
}

@mixin shadow($colour) {
    box-shadow: 0px 0px 10px 2px darken($colour, 20%);
}